dd > li{
    font-size:15px;
}
body{
    background-image:url(Brick-pattern-19.png);
    background-attachment:fixed;
}
div#zentai{
    display: grid;
	grid-template-columns: 1fr ;
	grid-auto-rows: 200px;
	grid-gap:12px;
	width: 1600px;
}
h2{
    color:red;
}
.a{
    padding:5px;
    background-color: #EFEFEF;
    border: 2px solid black;
    border-radius: 10px;
    height:420px;
}
.b{
    padding:30px;
    background-color: #EFEFEF;
    border: 2px solid black;
    border-radius: 10px;
    height:360px;
}